<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasyMail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EasyMail.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value>why11221220@gmail.com</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>89354959</value>
            </setting>
            <setting name="mailserver" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="nickname" serializeAs="String">
                <value>Phoebe</value>
            </setting>
        </EasyMail.Properties.Settings>
    </userSettings>
</configuration>